body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #111; /* fundo preto */
    color: #f0f0f0;
}

header {
    background: url("ayo.jpg") center/cover no-repeat;
    padding: 30px 0;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.8);
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
    color: #b347ff; /* roxo */
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 15px 0;
    margin: 0;
    gap: 30px;
}

nav ul li a {
    color: #f0f0f0;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #b347ff;
}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}

.secao {
    margin-bottom: 40px;
    padding: 20px;
    border-left: 5px solid #b347ff;
    background-color: #1a1a1a;
    border-radius: 10px;
}

h2, h3 {
    color: #b347ff;
}

strong {
    color: #b347ff; 
}

ul, dl {
    margin-left: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #222;
    color: #f0f0f0;
}

th, td {
    border: 1px solid #b347ff;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #b347ff;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #181818;
}

img, iframe, video {
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(179, 71, 255, 0.4);
    max-width: 100%;
    height: auto;
    border: none;
}

.form-groups {
    background: #1a1a1a;
    margin: 10px 0;
    padding: 15px;
    border: 2px solid #b347ff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea {
    border-radius: 8px;
    padding: 10px;
    border: 2px solid #444;
    background-color: #2b2b2b;
    color: #f0f0f0;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
}

.botaoenviar {
    border-radius: 8px;
    color: #fff;
    background-color: #b347ff;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    align-self: flex-start;
}

.botaoenviar:hover {
    background-color: #922dd9;
    font-weight: bold;
}

button {
    background-color: #333;
    color: white;
    border: none;
    padding: 12px;
    font-size: 14px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s;
}

button i {
    margin-right: 8px;
}

button:hover {
    background-color: #b347ff;
    transform: scale(1.05);
}

footer {
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    background-color: #000;
    color: #b347ff;
}
