body {
    background-image:
        radial-gradient(300px at 0% 0%, rgb(48, 150, 218) 10%, transparent 100%),
        radial-gradient(300px at 100% 100%, rgb(48, 150, 218) 10%, black 100%);
    background-attachment: fixed;
    text-align: justify;
    font-size:30px;
    color:white;
}

header {

    margin-left: 5vh;
    margin-right: 5vh;

}

.lasttitle{
 display: flex;
  align-items: center;
  justify-content: center;
}

#senai {
    font-weight: bolder;
    color: white;
}

.superbox {

    justify-content: center;
    align-items: center;
    display: flex; 
    margin: 7vh;
}

.esquerda,
.direita {
    width: 50%;
    margin: 5vh;
}

.imgslides {
    width: 100%;
    height: 100%;
}

.imgslides img {
    float: right;   
    height: 70vh;
    width: 70vh;
    border-radius: 10px;

}

#containerimgslide4{
    height: 100vh;
    width: 100vh;
}
#imgslide4{
    height: 50%;
    width: 100%;
}





.esquerda p {
    font-size: 30px;
    color: white;
}

.title {
    color: white;
    text-justify: inter-word;
    font-weight: bolder;
}

.subtitle {
    color: white;
    text-justify: inter-word;
}

.esquerda h2,
h3 {
    color: white;
    text-justify: inter-word;
}

.esquerda h1 {
    color: white;
    font-weight: bolder;
}

button {
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: white;
    max-width: 200px;
    max-height: 200px;
}

.buttonsRight {
    position: fixed;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
}

.buttonsLeft {
    position: fixed;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
}

pre code {
    background-color: #eee;
    color: black;
    border-radius: 5px;
    display: block;

}

.table {
    color: white;
    font-size: 30px;
}